<section class="footer">
    <div class="box-container">

    

 <div class="box">
            <h3>ABOUT US</h3>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est quod repellendus eum optio dolor odit molestias ea corporis? Deleniti dicta earum dolorum odio dolores totam impedit quidem natus temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem reprehenderit, nisi sunt natus quae aliquid libero ratione earum beatae corrupti numquam debitis ut accusantium minus atque fugiat. Ducimus, suscipit.</p></div>
        <div class="box">
            <h3>COMPANY ARCH</h3>
            <p>OUR PHONE: +7999 999 99 99</p>
            <p>OUR EMAIL: elizavettta2004225@mail.ru</p>
        </div>
        <div class="wrap-logo">
            <a class="logo"><img style="width:350px;" src="./images/arch.png" alt="">
                <h1 class="credit"><span>Created by Nechaeva Elizaveta</span></h1>
            </a>
        </div>
       
        <div class="box">
            <h3>OUR SOCIAL MEDIA</h3>
            <p><a href="https://github.com/ravevn">GitHub</a></p>
              <p><a href="https://www.instagram.com/">Instagram</a></p>
              <p><a href="https://web.telegram.org/">Telegram</a></p>
              <p><a href="https://discord.com/">Discord</a></p>
              <p><a href="https://vk.com/rizz_rx">VK</a></p>
        </div>

          <div class="box">
            <h3>LINKS</h3>
    
        <a href="/index">MAIN</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
        <a href="/galery">GALERY</a>
        <a href="/download">CATALOG</a>
    
        </div>
    </div>

</section>