<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ARCH</title>
  <link rel="stylesheet" href="/css/galery.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>





<section class="body_galery">
  <section class="slide">
    <div class="slide__outer">
      <div class="slide__inner">
        <div class="slide__content">
          <div class="slide__container">
            <h2 class="slide__heading">1</h2>
            <figure class="slide__img-cont">
              <img class="slide__img" src='./images/блок1.jpg' alt=''>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slide">
    <div class="slide__outer">
      <div class="slide__inner">
        <div class="slide__content">
          <div class="slide__container">
            <h2 class="slide__heading">2</h2>
            <figure class="slide__img-cont">
              <img class="slide__img" src='./images/блок2.jpg' alt=''>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slide">
    <div class="slide__outer">
      <div class="slide__inner">
        <div class="slide__content">
          <div class="slide__container">
            <h2 class="slide__heading">3</h2>
            <figure class="slide__img-cont">
              <img class="slide__img" src='./images/блок3.jpg' alt=''>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slide">
    <div class="slide__outer">
      <div class="slide__inner">
        <div class="slide__content">
          <div class="slide__container">
            <h2 class="slide__heading">4</h2>
            <figure class="slide__img-cont">
              <img class="slide__img" src='./images/блок4.jpg' alt=''>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="overlay">
    <div class="overlay__content">
      <figure class="overlay__img-cont">
        <img class="image" src="./images/блок1.jpg" />
        <img class="image" src="./images/блок2.jpg" />
        <img class="image" src="./images/блок3.jpg" />
        <img class="image" src="./images/блок4.jpg" />
       
      </figure>
    </div>
  </section>

</section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js"></script>
  <script src="/src/galery_gsap.js"></script>

</body>

</html>