<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Swipe gallery</title>
  <link rel="stylesheet" href="/css/galery.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  {{> header}}
  


      <!-- gallery section начало  -->
      <section class="gallery" id="gallery" data-aos="fade-up">
        <div class="box">

           <h1 class="heading"> our gallery </h1>
        </div>
        <div class="box">
           <img src="./images/блок1.jpg" alt="">
           <img src="./images/блок4.jpg" alt="">
           <img src="./images/дом.jpg" alt="">
           <img src="./images/блок6.jpg" alt="">
        </div>

        <div class="box">
           <img src="./images/блок8.jpg" alt="">
           <img src="./images/блок9.jpg" alt="">
           <img src="./images/блок10.jpg" alt="">
           <img src="./images/блок7.jpg" alt="">
        </div>

        </div>

     </section>

     {{>footer}}