<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="views\css\style.css">
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>
</html>